<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EChanjo"
        tools:targetApi="31" >
        <activity
            android:name=".EditChildActivity"
            android:exported="false" />
        <activity
            android:name=".ChildView"
            android:exported="false" />
        <activity
            android:name=".AddChildDetails"
            android:exported="false" />
        <activity
            android:name=".DoctorUpdate"
            android:exported="false" />
        <activity
            android:name=".DoctorDetails"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorUploadDetails"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".UploadChildDetails"
            android:exported="false" />
        <activity
            android:name=".RegisteredDoctors"
            android:exported="false" />
        <activity
            android:name=".DoctorUploadPicture"
            android:exported="false" />
        <activity
            android:name=".DoctorUpdateProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorUpdateEmail"
            android:exported="false" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorMainLogin"
            android:exported="false" />
        <activity
            android:name=".DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".DoctorForgotPassword"
            android:exported="false" />
        <activity
            android:name=".DoctorDeleteProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorChangePassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>